<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QCONZEntities" connectionString="metadata=res://*/QconzModel.csdl|res://*/QconzModel.ssdl|res://*/QconzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=tcp:qconz.database.windows.net,1433;initial catalog=qconz;persist security info=False;user id=qconzdbadmin;password=Achamma6564###;multipleactiveresultsets=False;encrypt=True;trustservercertificate=False;connection timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="QCONZEntities" connectionString="metadata=res://*/QconzModel.csdl|res://*/QconzModel.ssdl|res://*/QconzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8SKHQK9\SQLEXPRESS;initial catalog=QCONZ;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="QCONZEntities1" connectionString="metadata=res://*/QconzModel.csdl|res://*/QconzModel.ssdl|res://*/QconzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8SKHQK9\SQLEXPRESS;initial catalog=QCONZ;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>