<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\MyPc\Desktop\QZO\QconzLocate.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/QconzLocate</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QCONZEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qconz.database.windows.net,1433;Initial Catalog=qconz;Persist Security Info=False;User ID=qconzdbadmin;Password=Achamma6564###;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:qconz.database.windows.net,1433;Initial Catalog=qconz;Persist Security Info=False;User ID=qconzdbadmin;Password=Achamma6564###;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-8SKHQK9\SQLEXPRESS;Initial Catalog=QCONZ;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QCONZEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/QconzModel.csdl|res://*/QconzModel.ssdl|res://*/QconzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8SKHQK9\SQLEXPRESS;initial catalog=QCONZ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QconzLocate.Models.ApplicationDbContext, QconzLocate" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QCONZEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/QconzModel.csdl|res://*/QconzModel.ssdl|res://*/QconzModel.msl;provider=System.Data.SqlClient;provider connection string="server=tcp:qconz.database.windows.net,1433;initial catalog=qconz;persist security info=False;user id=qconzdbadmin;password=Achamma6564###;multipleactiveresultsets=False;encrypt=True;trustservercertificate=False;connection timeout=30;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>